<div class="form-group" ng-class="{'has-error' : submitted && productForm.name.$invalid}">
    <label class="control-label col-md-3">Product name <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="text" name="name" class="form-control" ng-model="product.name" required placeholder="Name"/>
    </div>
    <p ng-show=" submitted && productForm.name.$invalid" class="help-block">Product name is required.</p>
</div>

<div class="form-group" ng-class="{'has-error' : submitted && productForm.price.$invalid}">
    <label class="control-label col-md-3">Product price <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="number" name="price" class="form-control" ng-model="product.price" required placeholder="Price"/>
    </div>
    <p ng-show=" submitted && productForm.price.$invalid" class="help-block">Product price is required.</p>
</div>
<div class="form-group" ng-class="{'has-error' : submitted && productForm.user_id.$invalid}">
    <label class="control-label col-md-3">User name <span class="required">* </span> </label>
    <select ng-model="product.user_id" required>
        <option ng-repeat="name in names" value="{{name.id}}">{{name.first_name}}</option>
    </select>
    <p ng-show=" submitted && productForm.user_id.$invalid" class="help-block">Select the user..</p>
</div>
<div class="form-group">
    <div class="pull-right">
        <a class="btn btn-default" href="/"> Back</a>
        <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
    </div>
</div>
